<div class="card">
    <div class="card-header">
      list.html  
    </div>
    <div class="card-body">
      <div>
        <input type="text" ng-model="keyword"/>
        <button class="btn btn-sm btn-secondary" ng-click="getList(keyword,1)">검색</button>
        <table class="table table-striped table-bordered">
       

            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>제목</th>
                <th>등록날짜</th>
                <th>답변상태</th>
            </tr>
            <tr ng-repeat="qna in qna">
                <td><a ng-click="read(keyword,qna.qnaNo)" href="">{{qna.qnaNo}}</a></td>
                <td>{{qna.userId}}</td>
                <td>{{qna.qnaTitle}}</td>
                <td>{{qna.qnaRegdate | date:"yyyy.MM.dd"}}</td>
                <td>
                  <div ng-switch on = "qna.answerState">
                    <div ng-switch-when="0">미작성</div>
                    <div ng-switch-when="1">답변완료</div>
                  </div>
                </td>
            </tr>
               <tr>
                  <td colspan="8" style="text-align: center;">
                     <button class="btn btn-outline-primary btn-sm" 
                                 ng-click="getList(keyword,1)">처음</button> 
                     <button   class="btn btn-outline-info btn-sm" 
                                 ng-show="pager.groupNo>1" 
                                 ng-click="getList(keyword,pager.startPageNo-1)">이전</button>
                     <button ng-repeat="i in pageRange"
                                class="btn btn-sm {{(pager.pageNo==i)?'btn-danger':'btn-outline-success'}} {{!$last?'mr-1':''}}" 
                                 ng-click="getList(keyword,i)">{{i}}</button>
                     <button   class="btn btn-outline-info btn-sm" 
                                 ng-show="pager.groupNo < pager.totalGroupNo" 
                                 ng-click="getList(keyword,pager.endPageNo+1)">다음</button>
                     <button class="btn btn-outline-primary btn-sm" 
                                 ng-click="getList(keyword,pager.totalPageNo)">맨끝</button>
                  </td>
               </tr>
        </table>
      </div>
    </div>
</div>