<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white" href="/" ng-click="reloadable('home')">메인</a>
    </li>
    <li class="nav-item mt-3">
        <a class="nav-link" style="color: white;" href="/#!/products" ng-click="reloadable('products')"> 상품</a>
        <a class="nav-link" style="color: white;" href="/#!/users" ng-click="reloadable('users')">회원</a>
        <a class="nav-link" style="color: white;" href="/#!/orders" ng-click="reloadable('orders')">주문</a>  
        <a class="nav-link" style="color: white;" href="/#!/products_refund" ng-click="reloadable('products_refund')">환불</a>
        <a class="nav-link" style="color: white;" href="/#!/reviews" ng-click="reloadable('reviews')">리뷰</a>
        <a class="nav-link" style="color: white;" href="/#!/qna" ng-click="reloadable('qna')">문의</a> 
    </li>
</ul>
