<ul class="nav flex-column">
    <li class="nav-item">
        <h6 class="text-white">메인화면</h6>
        <a class="nav-link text-warning" href="/">메인화면</a>
    </li>
    <li class="nav-item mt-3">
        <h6 class="text-white">환불</h6>
        <a class="nav-link text-warning" href="/#!/products_refund" ng-click="reloadable('products_refund')">product_refund</a>
    </li>
    <li class="nav-item mt-3">
        <h6 class="text-white">리뷰</h6>
        <a class="nav-link text-warning" href="/#!/reviews" ng-click="reloadable('reviews')">reviews</a>
    </li>
</ul>
