<!DOCTYPE html>
<html lang="en" ng-app="app"> <!-- html과 script에 작성한 angularjs 연결 / ng- : angularjs 사용 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa Candy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script> 

    <link rel="shortcut icon" href="/resources/img/favicon.ico" />
    <link rel="icon" href="/resources/img/favicon.ico" />
    
    <script src="app.js"></script>  <!-- 모듈 생성 -->
    <script src="appRoute.js"></script>

    <script src="controllers/productsRefundController.js"></script>
    <script src="controllers/reviewsController.js"></script>    
    <script src="controllers/productController.js"></script>
    <script src="controllers/userController.js"></script>
    <script src="controllers/orderController.js"></script>
    <script src="controllers/qnaController.js"></script>

    <script src="services/loginService.js"></script>
    <script src="services/reviewsService.js"></script>
    <script src="services/productsRefundService.js"></script>    
    <script src="services/productService.js"></script>
    <script src="services/userService.js"></script>    
    <script src="services/ordersService.js"></script>
    <script src="services/qnaService.js"></script>

</head>
<body ng-controller="mainController">
    <div class="d-flex justify-content-center mt-5" ng-show="!uid">
        <div class="card" style="width: 400px;">
            <div class="card-header">
                Login Form
            </div>
            <div class="card-body justify-content-center">
              <form>
                <div class="form-group">
                  <label for="uid">User ID</label>
                  <input id="uid" type="text" class="form-control" ng-model="user.uid" autocomplete="username">
                </div>
                <div class="form-group">
                  <label for="upassword">User Password</label>
                  <input id="upassword" type="password" class="form-control" ng-model="user.upassword" autocomplete="current-password">
                </div>
                <button class="btn btn-primary" ng-click="login(user)">Login</button>
              </form>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column vh-100" ng-show="uid">
        <nav class="navbar navbar-expand-sm navbar-dark text-white font-weight-bold justify-content-between" style="background-color: #868e96;">
            <a class="navbar-brand" href="./" style="font-size: 1.8em;">
            <img src="./resources/img/장바구니.png" width="40" class="d-inline-block align-top">
            Santa Candy
            </a>
            <a class="nav-link text-white" style="font-size: 1.3em;" href="/" ng-click="reloadable('home')">메인</a>
            <a class="nav-link" style="color: white; font-size: 1.3em;" href="/#!/products" ng-click="reloadable('products')"> 상품</a>
            <a class="nav-link" style="color: white; font-size: 1.3em;" href="/#!/users" ng-click="reloadable('users')">회원</a>
            <a class="nav-link" style="color: white; font-size: 1.3em;" href="/#!/orders" ng-click="reloadable('orders')">주문</a>  
            <a class="nav-link" style="color: white; font-size: 1.3em;" href="/#!/products_refund" ng-click="reloadable('products_refund')">환불</a>
            <a class="nav-link" style="color: white; font-size: 1.3em;" href="/#!/reviews" ng-click="reloadable('reviews')">리뷰</a>
            <a class="nav-link" style="color: white; font-size: 1.3em;" href="/#!/qna" ng-click="reloadable('qna')">문의</a> 
            <div>
                <div ng-show="uid" class="mt-1" style="font-size: 1.2em; font-weight: 600;">
                    ID: {{uid}} <button class="btn btn-sm ml-2 text-white" style="background-color: #d15851;" ng-click="logout()">Logout</button>
                </div>
            </div>
        </nav>

        <div class="flex-grow-1 container-fluid">
            <div class="row h-100">
                <div class="col-md-6 col-lg-12 p-3 ml-1">
                    <div class=" h-100 d-flex flex-column">
                        <div class="flex-grow-1 overflow-auto pr-3" style="height:0px" >
                            <ng-view/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>