<div class="card">
    <div class="d-flex justify-content-center" style="text-align: center;" >
        <div class="card border-light mb-3 ml-3 mt-3" style="max-width: 18rem;">
            <div class="card-header font-weight-bold" style="background-color: #f1f3f5;">총 환불</div>
            <div class="card-body">
            <p class="card-text p-5" style="font-size: 2em;">{{refundCount[0].value}}건</p>
            </div>
        </div>
        <div class="card border-light mb-3 ml-3 mt-3" style="max-width: 18rem;">
            <div class="card-header font-weight-bold"  style="background-color: #f1f3f5;">환불 중</div>
            <div class="card-body">
            <p class="card-text p-5" style="font-size: 2em;">{{refundCount[1].value}}건</p>
            </div>
        </div>
        <div class="card border-light mb-3 ml-3 mt-3" style="max-width: 18rem;">
            <div class="card-header font-weight-bold" style="background-color: #f1f3f5;">환불 완료</div>
            <div class="card-body">
            <p class="card-text p-5" style="font-size: 2em;">{{refundCount[2].value}}건</p>
            </div>
        </div>
    </div>

    <div class="card-header" style="text-align: center;  background-color: #f1f3f5;">
        환불 리스트
    </div>
      
    <div class="card-body">
        <ng-include src="getView()"/>        
    </div>
</div>