<div class="card-body">
  
      <div>
          <div class="mb-3"> 
            <select ng-model="stateVal" style="height: 1.8em; width: 8em;">
                <option ng-repeat="state in stateList">{{state}}</option>
            </select>
            <select ng-model="reasonVal" style="margin-left:0.5em; height: 1.8em; width: 8em;">
                <option ng-repeat="reason in reasonList">{{reason}}</option>
            </select>
            <button class="btn btn-sm btn-secondary ml-1" style="margin-bottom: 0.4em;" ng-click="getList(1, stateVal, reasonVal)">조회</button>
          </div>
         <table class="table" style="text-align: center;">
            <tr style="background-color: #f8f9fa;">
                <th style="width: 15%;">주문 번호</th>
                <th>아이디</th>
                <th style="width: 20%;">환불 상태</th>
                <th style="width: 20%;">환불 사유</th>
                <th style="width: 20%;">등록일</th>
            </tr>
            <tr ng-repeat="refund in refunds">
                <td><a ng-click="read(refund.orderNo, stateVal, reasonVal)" href="">{{refund.orderNo}}</a></td>
                <td>{{refund.userId}}</td>
                <td ng-if="refund.refundState == 0">환불 중</td>
                <td ng-if="refund.refundState == 1">환불 완료</td>
                <td>{{refund.refundReason}}</td>
                <td>{{refund.refundDate | date:"yyyy.MM.dd"}}</td>
            </tr>
            <tr ng-if="pager.totalRows != 0">
                <td colspan="5" style="text-align: center;">
                    <button class="btn btn-outline-dark btn-sm" 
                            ng-click="getList(1, stateVal, reasonVal)">처음</button> 
                    <button class="btn btn-outline-dark btn-sm" 
                            ng-show="pager.groupNo>1" 
                            ng-click="getList(pager.startPageNo-1, stateVal, reasonVal)">이전</button>
                    <button ng-repeat="i in pageRange"
                            class="btn btn-sm {{(pager.pageNo==i)?'btn-dark':'btn-outline-dark'}} {{!$last?'mr-1':''}}" 
                            ng-click="getList(i, stateVal, reasonVal)">{{i}}</button>
                    <button class="btn btn-outline-dark btn-sm" 
                            ng-show="pager.groupNo < pager.totalGroupNo" 
                            ng-click="getList(pager.endPageNo+1, stateVal, reasonVal)">다음</button>
                    <button class="btn btn-outline-dark btn-sm" 
                            ng-click="getList(pager.totalPageNo, stateVal, reasonVal)">맨끝</button>
                </td>
            </tr>
        </table>
      </div>
  
</div>