<div class="card-body">

      <div>
          <div class="mb-3">
            <input type="text" ng-model="keyword" placeholder="상품명/내용을 입력하세요."/>
            <button class="btn btn-sm btn-secondary" style="margin-bottom: 0.4em;" ng-click="getList(1, keyword)" >검색</button>
          </div>
        <table class="table" style="text-align: center;">
            <tr style="background-color: #f8f9fa;">
                <th style="width: 15%;">리뷰 번호</th>
                <th >상품명</th>
                <th style="width: 25%;">글쓴이</th>
                <th style="width: 15%;">등록일</th>
            </tr>
            <tr ng-repeat="review in reviews">
                <td>{{review.reviewNo}}</td>
                <td><a ng-click="read(review.reviewNo, keyword)" href="">{{review.productName}}</a></td>
                <td>{{review.userId}}</td>
                <td>{{review.reviewRegdate | date:"yyyy.MM.dd"}}</td>
            </tr>
               <tr ng-if="pager.totalRows != 0">
                  <td colspan="5" style="text-align: center;">
                     <button class="btn btn-outline-dark btn-sm" 
                             ng-click="getList(1, keyword)">처음</button> 
                     <button class="btn btn-outline-dark btn-sm" 
                             ng-show="pager.groupNo>1" 
                             ng-click="getList(pager.startPageNo-1, keyword)">이전</button>
                     <button ng-repeat="i in pageRange"
                             class="btn btn-sm {{(pager.pageNo==i)?'btn-dark':'btn-outline-dark'}} {{!$last?'mr-1':''}}" 
                             ng-click="getList(i, keyword)">{{i}}</button>
                     <button class="btn btn-outline-dark btn-sm" 
                             ng-show="pager.groupNo < pager.totalGroupNo" 
                             ng-click="getList(pager.endPageNo+1, keyword)">다음</button>
                     <button class="btn btn-outline-dark btn-sm" 
                             ng-click="getList(pager.totalPageNo, keyword)">맨끝</button>
                  </td>
               </tr>
        </table>

    </div>
</div>