<div class="card">
  <div class="card-header">
      review read
  </div>

  <div class="card-body">
      <div>
        <div class="form-group">
            <label>리뷰번호:</label>
            <input class="form-control" value={{review.reviewNo}} readonly/>  
        </div>
          <div class="form-group">
            <label>상품명:</label>
            <input class="form-control" value={{review.productName}} readonly/>
          </div>
          <div class="form-group">
              <label>글쓴이:</label>
              <input class="form-control" ng-value="review.userId" readonly/>
          </div>
          <div class="form-group">
              <label>내용:</label>
              <textarea class="form-control" ng-value="review.reviewContent" readonly></textarea>
          </div>
          <button class="btn btn-primary btn-sm" ng-click="getList(pager.pageNo, keyword)">목록</button>
          <button class="btn btn-primary btn-sm" ng-click="updateReviewForm()">수정</button> 
          <button class="btn btn-primary btn-sm" ng-click="deleteReview(review.reviewNo)">삭제</button>       
      </div>
  </div>
</div>