<div class="card-body d-flex justify-content-center">
  <div style="width: 50%;">
      <div class="form-group d-inline-flex" style="border-bottom: 1px solid lightgray; width: 100%;  padding-left: 50px;">
          <label style="font-weight: bold;">리뷰번호:</label>
          <div class="ml-4">
            <div ng-bind="review.reviewNo"></div>
          </div>
      </div>
      <div class="form-group d-inline-flex" style="border-bottom: 1px solid lightgray; width: 100%;  padding-left: 50px;">
        <label style="font-weight: bold;">상품명:</label>
        <div class="ml-4">
          <div ng-bind="review.productName"></div>
        </div>
      </div>
      <div class="form-group d-inline-flex" style="border-bottom: 1px solid lightgray; width: 100%;  padding-left: 50px;">
        <label style="font-weight: bold;">글쓴이:</label>
        <div class="ml-4">
          <div ng-bind="review.userId"></div>
        </div>
      </div>
      <div class="form-group d-inline-flex" style="border-bottom: 1px solid lightgray; width: 100%;  padding-left: 50px;">
          <label style="font-weight: bold;">내용:</label>
          <div class="ml-4">            
            <input class="form-control mb-3" style="width: 30em;" ng-model="review.reviewContent"/>
          </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-sm text-white mr-3" style="background-color: #d15851;" ng-click="updateReview(review)">수정</button>
        <button class="btn btn-sm text-white" style="background-color: #d15851;" ng-click="cancel()">취소</button>        
      </div>    
  </div>
</div>