<div class="card">
  
  <div class="d-flex justify-content-center" style="text-align: center;" >
    <div class="card border-light mb-3 ml-3 mt-3" style="max-width: 18rem;">
      <div class="card-header font-weight-bold" style="background-color: #f1f3f5;">전체 회원</div>
      <div class="card-body">
        <p class="card-text p-5" style="font-size: 2em;">{{userCount[0].value}}명</p>
      </div>
    </div>
    <div class="card border-light mb-3 ml-3 mt-3" style="max-width: 18rem;">
      <div class="card-header font-weight-bold"  style="background-color: #f1f3f5;">유효 회원</div>
      <div class="card-body">
        <p class="card-text p-5" style="font-size: 2em;">{{userCount[1].value}}명</p>
      </div>
    </div>
    <div class="card border-light mb-3 ml-3 mt-3" style="max-width: 18rem;">
      <div class="card-header font-weight-bold" style="background-color: #f1f3f5;">탈퇴 회원</div>
      <div class="card-body">
        <p class="card-text p-5" style="font-size: 2em;">{{userCount[2].value}}명</p>
      </div>
    </div>
  </div>
    <div class="card-header text-center" style=" background-color: #f1f3f5;">
      회원 리스트
    </div>
    <div class="card-body">
        <ng-include src="getView()" />
    </div>
</div>